<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

  </head>
  <body id="bg" class="shadow-lg">
    <nav class="navbar py-0 navbar-expand-sm navbarstyle bg-dark shadow-sm">
      <div class="container-fluid">
        <a href="{% url 'home' %}" class="navbar-brand border-end rounded-end">
          <img src="{% static 'images/josh_wzr_logo2.png' %}" alt="j-wzr chats app">
          <code class="pe-2">ChatsApp</code>
        </a>
        <button class="navbar-toggler bg-white text-dark" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse px-4" id="collapsibleNavbar">
        <ul class="navbar-nav p-0 m-0">
          {% if user.is_authenticated %}
          <li class="nav-item p-0 m-0">
            <a href="{% url 'profile' %}" class="nav-link mx-2 py-md-4 px-2">Profile</a>
          </li>
          <li class="nav-item p-0 m-0">
            <a href="{% url 'view_messages' %}" class="nav-link mx-2 py-md-4 px-2">Chat</a>
          </li>
          <li class="nav-item p-0 m-0">
            <a href="{% url 'logout' %}" class="nav-link mx-2 py-md-4 px-2">Logout</a>
          </li>
          {% else %}
          <li class="nav-item p-0 m-0">
            <a href="{% url 'register' %}" class="nav-link mx-2 py-md-4 px-2">Register</a>
          </li>
          <li class="nav-item p-0 m-0">
            <a href="{% url 'login' %}" class="nav-link mx-2 py-md-4 px-2">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  {% load static %}
    
        {% block content %}
        {% endblock content %}



      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>


      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>


      <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

  </body>
</html>