{% extends 'users/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
            <div class="row g-0">
                <div class="col-sm-6 col-md-8" id="header-text">
                  <h1 id="header-h1" class= "text-dark">Your Chat, Your Way<br></h1>
                  <p class= "text-info" id="header-paragraph">A desktop Companion, <br> for instant communication.</p>
                  {% if not user.is_authenticated %}
                  <a href = "{% url 'login' %}" class="more btn" type="submit" style="background: #fd5e14">More about</a>
                  {% endif %}
                </div>
            </div>
    </div>

{% endblock content %}
