{% extends 'users/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
            <div class="row g-0">
                <div class="col-sm-6 col-md-8" id="header-text">
                  <h1 id="header-h1" class= "text-dark">Your <br> habitations. </h1>
                  <p class= "text-info" id="header-paragraph">my dream, <br> vacations environment</p>
                  <a class="btn" style="color: white; background-color: #fd5e14;"type="submit" id="body-link-row">More about</a>
                </div>
            </div>
    </div>
{% endblock content %}
