{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
  {% for message in messages %}
   {% if message %}
   <div class = "container-fluid message-body">
    {% if user != message.sender %}
      <div class = "card w-75 my-3">
        <div class="sender">
          <span class= "float-start">{{message.sender.username}}</span>
          <span class = "float-end">{{message.time}}</span>
        </div>
        <div class="container-fluid">
          <p>{{message.message}}</p>
        </div>
      </div>
    {% else %}
      <div class = "card w-75 ms-5 my-3">
        <div class="sender">
          <span class= "float-start">Me:</span>
          <span class = "float-end">{{message.time}}</span>
        </div>
        <div class="container-fluid">
          <p>{{message.message}}</p>
        </div>
      </div>  
    {% endif %}  
    </div>
    
   {% endif %}
  {% endfor %}
  <div class = "p-4">
    <form action = "" method = "post">
      {% csrf_token %}
      {{ mform|crispy}}
      <button type = "submit">Send Message</button>
    </form>
  </div>
{% endblock %}